[submodule "SurfaceConstruction"]
	path = source
	url = https://github.com/RyanAllcock/SurfaceConstruction.git
	branch = source
[submodule "lib/ProceduralNoise"]
	path = lib/noise
	url = https://github.com/RyanAllcock/ProceduralNoise.git
	branch = source
[submodule "lib/DesktopWindow"]
	path = lib/window
	url = https://github.com/RyanAllcock/DesktopWindow.git
